.hero-section {
  padding: 0px;
}
.hero-section_header {
  margin: 0;
}
.hero-section-smp {
  width: 85%;
  height: 100%;
}
.whyGetnighthawk-text {
  font-size: 20px;
  text-align: left;
}
.hero-section_content .text {
  font-weight: normal;
  font-size: 20px;
  text-align: left;
  padding: 10px 95px;
  font-family: Open Sans;
}
.whyGetnighthawk {
  justify-content: space-around;
  display: flex;
  padding-top: 40px;
  padding-left: 30px;
}

.whyGetnighthawk .text {
  padding: 0px 30px;
  text-align: left;
  font-family: Open Sans;
  font-size: 20px;
}
.nighthawk-meshery-fig {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.figbox {
  margin: 0px 40px;
  padding: 20px 0px;
}
.nighthawk-meshery-fig img {
  padding: 0px 30px;
  object-fit: cover;
  width: 450px;
  height: 100%;
  border-radius: 20px;
}

.whyGetnighthawk-bold h4 {
  width: 430px;
  font-family: Qanelas Soft;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 34px;
  color: #000000;
  overflow-wrap: normal;
}

.hero-section_bold {
  font-family: Qanelas Soft;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 50px;
  text-align: center;
  color: #000000;
  padding-top: 30px;
}

@media only screen and (max-width: 768px) {
  .whyGetnighthawk {
    flex-wrap: wrap;
    padding: 50px;
  }
  .nighthawk-meshery-fig {
  flex-wrap: wrap;
    padding: 0px;

}
.hero-section {
  
  margin: 20px;
}

}
