.blk-container{
    min-height: 1120px;
    background-color: #1E2117;
    text-align: center;
    h1{
        color: white;
        padding: 0 30px;
        padding-top: 150px;
        font-weight: 700;
        font-size: 60px;
    }
    p{
        color: rgba(255, 255, 255,0.7);
        font-size: 21px;
        max-width: 1040px;
        margin: 40px auto;
        padding: 0 30px;

    }
}

#img-cont{
    max-width: 100%;
    margin: 20px auto;
}

.img-explain{
    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media(max-width:550px){
    .blk-container{
        h1{
            padding: 0 20px;
            padding-top: 100px;
            font-size: 30px;
        }
        p{
            line-height: 2;
            font-size: 17px;
        }
    }
}