// Custom colors
$charcoal: #3c494f;
$caribbeangreen: #00b39f;
$keppel: #00d3a9;
$saffron: #ebc017;
$saffronlight: #fff3c5;
$saffronlightest: #fff7d8;
$dark-jungle-green: #1e2117;
$gray: #a0aaaa;
$tealblue: #477e96;

/* SCSS HEX */
$keppel: #00b39fff;
$viridian-green: #20969cff;
$metallic-seaweed: #30879bff;
$lightseagreen: #10a59e;
$blue-munsell: #358a9eff;
$blue-munsell-2: #3a8da0ff;
$blue-munsell-3: #4392a4ff;

// hero-section-div starts
  
.hero-section-div {
  background: #ffffff;
  text-align: center;
  margin-top: 5.9rem;
  // padding-top: 1rem;
}

.hero-section-div-container {
  background-color: #c9fcf6;
  padding: 4rem 0 1rem 0;
}

.hero-section-div-container p {
  margin-bottom: 0;
}

.hero-section-header {
  text-align: center !important;
  margin: 0rem auto 3rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-section-logo-span {
  font-size: 3rem;
  line-height: 45px;
  font-weight: 700;
  text-align: start;
  line-height: 3.5rem;
}
.hero-section-para {
  text-align: center;
  margin: 1rem auto 2rem auto;
}
.hero-section-para p {
  font-size: 1.7rem;
  line-height: 2.2rem;
  font-weight: 400px;
  text-align: start;
}
.hero-section-button-div {
  text-align: center;
  margin: 7rem auto 2rem auto;
  p {
    margin-top: 2rem;
    font-size: 1.5rem;
  }
}

.hero-section-button {
  width: 200px;
  height: 74px;
  background: #ebc017;
  border-radius: 20px;
  outline: none;
  transition:all .4s;

  &-text:hover{
    color: white;
  }

  &:hover{
    background: #f3d110;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  }
}


.hero-section-button:focus {
  outline: none;
}
.hero-section-button-text {
  color: #ffffff;
  font-weight: 600px;
  font-size: 21px;
  line-height: 21px;
}
.hero-section-logo {
  text-align: center;
  margin: 6rem auto auto auto;
}
.hero-section-img {
  width: 500px;
  margin-right: 10px;
}
.hero-section-header-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 500px;
  margin-left: 50px;
}
.slanted-div {
  background: linear-gradient(to right bottom, #c9fcf6 50%, white 50%);
  height: 10rem;
  z-index: -1px;
}

.meshery-repo{
  width: 18rem;
  margin-top: 1rem;
}

.docs-section{
  min-height: 100vh;
  &-logo-span{
    display: none ;
  }

  &-para{
    margin: 0;
  }

  &-header{
    margin: 0rem auto 1rem auto;
  }

  &-para p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
  }
}


// hero-section-div ends

// Newsletter-signup starts

.newsletter-signup {
  text-align: center;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.newsletter-signup-logo {
  width: 15rem;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.newsletter-signup-button {
  background: #ebc017;
  width: 130px;
  height: 50px;
  border-radius: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition:all .4s;

  .newsletter-span:hover{
    color: white;
  }

  &:hover{
    background: #f3d110;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  }
}
.newsletter-span {
  font-size: 20px;
  line-height: 21px;
  font-weight: 600;
  color: #ffffff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.newsletter-para {
  font-size: 18px;
  line-height: 13px;
  font-weight: 550;
  color: #000000;
  padding: 0px 0px;
}
.organised-by-h5 {
  font-size: 25px;
  line-height: 25px;
  font-weight: 600;
  padding-top: 1.5rem;
}
@media (max-width: 650px) {
  .newsletter-signup-logo {
    width: 16rem;
  }
  .newsletter-para {
    line-height: 17px;
  }
  .organised-by-h5 {
    font-size: 29px;
    padding-top: 2.5rem;
  }
}

// Newsletter-signup ends

// nighthawk-description startups

.nighthawk-description-div {
  margin: -23rem auto 3rem auto;
  z-index: 1;
}
.description-div {
  text-align: center;
  flex:1
 
}
.nighthawk-desc-text {
  display: inline-block;
  text-align: left;
  padding: 1rem 1rem;
  margin-top: 0rem;
}
.nighthawk-desc-text-meshery {
  display: inline-block;
  text-align: left;
  margin-top: 0rem;
}
.nighthawk-desc-img {
  width: 155px;
  height: 155px;
  margin: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1rem;
}
.nighthawk-meshery-logo {
  max-width: 100%;
  height: auto;
}
.nighthawk-meshery-div {
  margin: 2rem;
}
.nighthawk-meshery-div-columns {
  padding: 0.2rem 2rem;
  max-width: 100%;
  height: auto;
}
.desc-h1 {
  font-size: 45px;
  line-height: 50px;
  font-weight: 700;
  color: #000000;
}
.des-para {
  font-size: 1.15rem;
  line-height: 10px;
  color: #737373;
  font-weight: 400;
  margin-bottom: 20px;
}
.why-getnighthawk {
  text-align: center;
}
.why-getnighthawk-h2 {
  font-size: 50px;
  line-height: 50px;
  font-weight: 700;
  color: #000000;
}
.why-getnighthawk-p {
  font-size: 20px;
  line-height: 15px;
  font-weight: 400;
  color: #000000 60%;
}
.why-getnighthawk-p-div {
   font-size: 17px;
  margin-top: 1.1rem;
}


@media (max-width: 500px) {
  .head-h1 {
    text-align: center;
  }

  .desc-h1 {
    text-align: center;
    font-size: 30px;
    line-height: 43px;
    font-weight: 700;
    color: #000000;
  }

  .why-getnighthawk-h2 {
    font-size: 30px;
    line-height: 50px;
    font-weight: 700;
    color: #000000;
  }

  .des-para {
    font-size: 17px;
    line-height: 10px;
    color: #737373;
    font-weight: 490;
    margin-bottom: 20px;
  }
  .why-getnighthawk-p-div {
    font-size: 20px;
   margin-top: 1rem;
 }

 .button-responsive-index {
   text-align: center;
 }

}

// nighthawk-description ends

// stewared by section startups

.stewarded-organised {
  background-color: #c9fcf6;
  margin: 0rem auto;
  padding: 5rem 8rem;
  text-align: center;
}
.stewarded-text {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.stewarded-h5 {
  font-size: 25px;
  line-height: 25px;
  font-weight: 600;
}
.stewarded-img {
  max-width: 250px;
  max-height: 75px;
  padding-top: 2rem;
  padding-bottom: 0rem;
}
@media (max-width: 670px) {
  .stewarded-img {
    max-width: 200px;
  }
  .stewarded-organised {
    padding: 2rem 3rem;
    text-align: center;
  }
  .stewarded-h5 {
    font-size: 29px;
  }
}

// stewarded by section ends