.copy-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #009E7F;
    border-radius: 3px;
    background-color: #009E7F;
    color: #fff;
    
  }
  
  .copy-button:hover {
    background-color: #00B39F;
    border-color: #00B39F;
  }
  
  
.highlight{
    display: inline-flex;
    position: relative;
   
    width: 100%;
   
}