name: Nighthawk-Go
on:
  push:
    branches:
      - 'master'
    tags:
      - 'v*'
  pull_request:
    branches:
      - 'master'

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          # Required: the version of golangci-lint is required and must be specified without patch version: we always use the latest patch version.
          version: v1.32

          # Optional: working directory, useful for monorepos
          # working-directory: somedir

          # Optional: golangci-lint command line arguments.
          # args: --issues-exit-code=0

          # Optional: show only new issues if it's a pull request. The default value is `false`.
          only-new-issues: true
  build:
    strategy:
      matrix:
        go-version: [1.14.x]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Check out code
      uses: actions/checkout@v2
      with:
        fetch-depth: 1
    - name: Setup Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}
    - name: start build
      run: |
        chmod +x ./ci/build.sh
        ./ci/build.sh
        /usr/local/bin/bazel version
        bazel version
        go get -u github.com/bazelbuild/buildtools/buildifier
        export BUILDIFIER_BIN=$GOPATH/bin/buildifier
        go get -u github.com/bazelbuild/buildtools/buildozer
        export BUILDOZER_BIN=$GOPATH/bin/buildozer
  test-assets:
    strategy:
      matrix:
        go-version: [1.14.x]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Check out code
      uses: actions/checkout@v2
      with:
        fetch-depth: 1
    - name: Setup Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}
    - name: start build
      run: |
        chmod +x ./apinighthawk/bin/nighthawk_client
        cd apinighthawk
        export PATH=$PATH:$(pwd)/bin
        cd bin
        chmod +x nighthawk_client
        nighthawk_client --rps 1 --concurrency 1 --duration 10 https://github.com/layer5io/meshery --output-format experimental_fortio_pedantic
        exit 0
        